.app {
  padding: 3rem;
  max-width: 1000px;
  margin: auto;
}

.logo-group {
  display: flex;
  color: #F44336;
  justify-content: center;
}

.logo {
  width: 2.5rem;
  height: 2.5rem;
  align-self: center;
  margin-right: 0.5rem;
}

.intro {
  font-size: 1.75rem;
  opacity: 0.6;
  margin-top: 0;
  text-align: center;
}

.languages {
  display: grid;
  grid-template-columns: repeat(auto-fill,15rem);
  grid-gap: 2rem;
  justify-content: center;
  margin-top: 5rem;
}

.language {
  font-size: 1.7rem;
  font-weight: bold;
  padding: 1.5rem;
  border: 4px solid #EAEAEA;
  transition: transform 0.2s ease;
  user-select: none;
  outline: none;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.language:hover {
  transform: scale(1.1);
}
